@import url("https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Big+Shoulders+Display:wght@100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Outfit:wght@100..900&family=Red+Hat+Text:ital,wght@0,300..700;1,300..700&family=Russo+One&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
}

i{
  color: #3db2ff;
  cursor: pointer;
}

.container {
  width: 100%;
  max-width: 1440px;
}

header {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 150px;
  background-image: linear-gradient(180deg, #3a3a3a 75%, #ffffff 0%);
  padding: 30px 105px;
  padding-bottom: 50px;
}

.header-section1 {
  display: flex;
  flex-direction: column;
  gap: 32px;
  width: 100%;
}

.header-section1-socials {
  display: flex;
  justify-content: space-between;
}

.header-section1-socials-group1 {
  display: flex;
  gap: 30px;
}

.header-section1-socials-group1-item {
  display: flex;
  align-items: center;
  gap: 16px;
  color: #fff;
}

.header-section1-socials-group1-item > p > a {
  display: flex;
  align-items: center;
  gap: 16px;
  color: #fff;
  text-decoration: none;
}

.header-section1-socials-group2 {
  display: flex;
  gap: 15px;
}
/* 



*/

.header-section1-nav {
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  padding: 0 15px;
}

.header-section1-nav-group2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 795px;
}

.header-section1-nav-group2-items {
  display: flex;
}

.header-section1-nav-group2-item {
  padding: 35px 15px;
  color: #6e6e6e;
  font-family: Inter;
  font-size: 17px;
  font-weight: 600;
  line-height: 25px; /* 147.059% */
}

.header-section1-nav-group2-item:hover {
  padding: 35px 15px;
  color: #fff;
  background-color: #3db2ff;
  cursor: pointer;
  transition: 0.3s;
}

.header-section1-nav-group2-button > button {
  width: 180px;
  height: 65px;
  background-color: #3db2ff;
  border: none;

  color: #fff;

  font-family: Inter;
  font-size: 17px;
  font-weight: 600;
  line-height: 25px;
}

.header-section1-nav-group2-button > button:hover {
  background-color: #3d3d3d;
  color: #fff;
  cursor: pointer;
  transition: 0.3s;
}

.hamburger {
  display: none;
  cursor: pointer;
  background-color: #3db2ff;
  padding: 12px 16px;
}

.bar {
  display: block;
  width: 27px;
  height: 5px;
  margin: 5px auto;
  background-color: #fff;
}
/* 




*/

.header-section2 {
  height: 340px;
  width: 100%;
  max-width: 870px;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: space-between;
}

.header-section2-qoute > h1 {
  color: #fff;
  font-family: Inter;
  font-size: 60px;
  font-weight: 900;
  line-height: 80px;
}

.header-section2-lorem > p {
  color: #fff;
  font-family: Inter;
  font-size: 17px;
  font-weight: 400;
  line-height: 30px;
}

/* 

*/

.header-section3 {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  width: 100%;
  align-items: end;
}

.header-section3-group1 {
  display: flex;
  width: 500px;
  justify-content: space-between;
}

.header-section3-group1-item {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.header-section3-group1-item-text {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.header-section3-group1-item-text > h1 {
  color: #2d2d2d;
  font-family: Inter;
  font-size: 25px;
  font-weight: 900;
  line-height: 35px;
}

.header-section3-group1-item-text > p {
  color: #6e6e6e;
  font-family: Inter;
  font-size: 17px;
  font-weight: 400;
  line-height: 30px;
}

.header-section3-form {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 600px;
  gap: 30px;
  padding: 35px;
  background-color: #3db2ff;
}

.header-section3-form-wrapper {
  display: flex;
  gap: 30px;
}

.header-section3-form-group {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.header-section3-form-group {
  max-width: 250px;
  width: 100%;
}

.header-section3-form-group-item > input {
  width: 100%;
  height: 70px;
  background-color: #81cdff;
  outline: none;
  border: none;
  text-decoration: none;
  border-bottom: 2px solid white;
  padding: 0 20px;
  color: #fff;
  font-family: Inter;
  font-size: 17px;
  font-weight: 400;
  line-height: 30px;
}

input::placeholder {
  color: #fff;
}

select {
  width: 100%;
  height: 70px;
  background-color: #81cdff;
  outline: none;
  border: none;
  text-decoration: none;
  border-bottom: 2px solid white;
  padding: 0 20px;
  color: #fff;
  font-family: Inter;
  font-size: 17px;
  font-weight: 400;
  line-height: 30px;
}

.header-section3-group1-item {
  width: 220px;
}

.header-section3-form-button > button {
  width: 180px;
  height: 65px;
  background-color: #fff;
  border: none;
  color: #3db2ff;
  font-family: Inter;
  font-size: 17px;
  font-weight: 600;
  line-height: 25px;
}

.header-section3-form-button > button:hover {
  background-color: #3d3d3d;
  color: #fff;
  cursor: pointer;
  transition: 0.3s;
}

@media (max-width: 1310px) {
  .header-section3 {
    flex-direction: column-reverse;
  }

  .header-section3-group1 {
    width: 100%;
    justify-content: space-around;
  }

  .header-section3-form {
    width: 100%;
    max-width: 100%;
  }

  .header-section3-form-group {
    max-width: 312px;
    width: 100%;
  }
}

@media (max-width: 1160px) {
  .hamburger {
    display: block;
  }

  .header-section1-nav {
    position: relative;
  }

  .header-section1-nav-group2 {
    position: absolute;
    left: -300%;
    top: 50px;
    flex-direction: column;
    width: min-content;
    text-align: center;
    transition: 1.5s;
  }
  .header-section1-nav-group2.active {
    left: calc(50% - 90px);
    top: calc(0% + 109px);
    transition: 1.5s;
  }

  .header-section1-nav-group2-items {
    flex-direction: column;
  }

  .header-section2 {
    height: 540px;
    transition: 2s;
  }

  .header-section2.active {
    margin-top: 500px;
    transition: 1s;
  }

  .header-section1-nav {
    padding: 25px;
  }
}

@media (max-width: 768px) {
  header {
    padding: 25px;
    gap: 50px;
    background-image: linear-gradient(180deg, #3a3a3a 70%, #ffffff 0%);
  }
}

@media (max-width: 620px) {
  header {
    padding: 15px;
    background-image: linear-gradient(180deg, #3a3a3a 65%, #ffffff 0%);
  }

  .header-section1-socials {
    display: none;
  }

  .header-section3-group1 {
    flex-direction: column;
    gap: 25px;
  }

  .header-section3-group1-item {
    width: 100%;
  }
}

@media (max-width: 535px) {
  .header-section2-qoute > h1 {
    color: #fff;
    font-family: Inter;
    font-size: 45px;
    font-weight: 900;
    line-height: 58px;
  }

  .header-section2 {
    height: 400px;
  }
}
@media (max-width: 375px) {
  header {
    background-image: linear-gradient(180deg, #3a3a3a 55%, #ffffff 0%);
  }
  .header-section1-nav {
    padding: 15px;
  }

  .header-section3-form-wrapper {
    flex-direction: column;
    gap: 25px;
  }

  .header-section3-form-group {
    gap: 25px;
  }
  .header-section2 {
    height: 480px;
  }

  .header-section2.active {
    margin-top: 520px;
    transition: 1s;
  }
}
